<h2 style="display:inline">ADMISSIONS</h2> <h3 style="display:inline; color: #186636;">>> Add Applicant</h3>
<div class="container">
    <h3>APPLICANT'S INFORMATION</h3>
    <div class="container">
        <%= render 'form' %>
    </div>
</div>



<%= link_to 'Back', students_path %>
