<h1>EDITING REQUIREMENT</h1>

<%= render 'form' %>

<%= link_to 'Show', @requirement, :class=>"btn btn-small btn-success" %> 
<%= link_to 'Back', requirements_path, :class=>"btn btn-small btn-success" %>
