<h1>EDITING GUARDIANSHIP</h1>

<%= render 'form' %>

<%= link_to 'Show', @guardianship, :class=>"btn btn-small btn-success" %> 
<%= link_to 'Back', guardianships_path, :class=>"btn btn-small btn-success" %>
