<h1>Editing reservation</h1>

<%= render 'form' %>

<%= link_to 'Show', reservations_path, :class=>"btn btn-small btn-success" %> 
<%= link_to 'Back', reservations_path, :class=>"btn btn-small btn-success" %>
