<h1>Editing student_requirement</h1>

<%= render 'form' %>

<%= link_to 'Show', @student_requirement, :class=>"btn btn-small btn-success" %> 
<%= link_to 'Back', student_requirements_path, :class=>"btn btn-small btn-success" %>
