<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @student_requirement.status %>
</p>

<%= link_to 'Edit', edit_student_requirement_path(@student_requirement) %> |
<%= link_to 'Back', student_requirements_path %>
